.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: calc(50% - 20px);
    margin: 10px;
    min-height: 550px;
    padding: 25px 30px;
    box-sizing: border-box;
    background-color: #d7d5d165;
    border-radius: 3px;
    box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
        0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);

    
        margin-bottom: 40px;
        position: relative;

}

.Card #textCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

}

.Card img {
    width: 100%;
    height: 300px;
    object-fit: contain;    
}

.Card .cardTitle {
    font-weight: 600;
    padding-bottom: 10px;
}

.Card .cardDesc {
    padding-bottom: 10px;
    font-style: oblique;
    text-align: center;
}

.Card span {
    color: grey;
}

.cardBtn {
    width: 70%;
    /* margin-top: 25px; */
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 1px solid #808080;
    background: #8859b4;
    box-shadow: 0px 10px 14px -7px #8859b4;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
}

.cardBtn:hover {
    border: 1px solid transparent;
    border: 1px solid transparent;
    background: linear-gradient(#408c99, #599bb3);
}

@media screen and (min-width: 1024px) {
    .Card {
        width: 20%;
    }
}

/* @media screen and (max-width: 600px ) {
    .Card {
        width: 20%;
    }
} */